.arco-modal-body {
    padding: 0 !important;
}

.arco-drawer-mask {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.login-modal {
    width: fit-content !important;
    background: none !important;
    padding-bottom: 0.6rem;
    .arco-modal-footer {
        display: none;
    }
}

.arco-spin {
    .arco-icon-spin {
        color: #60c836;
    }
}
