:root {
  --background-main: #000000;
  --background-panel: #111111;
  --color-main: #fff;
}

@media (max-width: 480px) {
  :root {
    --background-main: #000000;
    --background-panel: #111111;
    --color-main: #fff;
  }
}
